@charset "UTF-8";
/* BODY */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* NAVBAR */
.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* FOOTER */
footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div p {
  margin: 0;
  font-style: italic;
}

/* VISTA LISTA */
/* Permite que el contenido principal ocupe el espacio restante */
.lista-main,
.editar-main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* VISTA EDITAR */
/* Resalta la opción escondida para subtype=null */
.hover-null.hovered {
  color: black;
}

/* VISTA EDITAR */
/* Resalta la opción escondida para subtype=null */
.hover-null.hovered {
  color: black;
}